<footer class="footer" *ngIf="!this.loginService.isLoggedIn()">
    <div class="container">
        <span>&copy; 2024 Todo Tracker. All rights reserved.</span><br>
        <span>Project created by: <a href="mailto:logeswaridillibabu96@gmail.com" class="email-link">Logeswari Dillibabu,</a></span>
        <span><a href="mailto:divyekataria@gmail.com" class="email-link">Divye Kataria,</a></span>
        <span><a href="mailto:nikhilkhetan22@gmail.com" class="email-link">Nikhil Khetan</a></span>
    </div>
</footer>