.form-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  /* height: 80vh; */
  margin-top: 20px;
  /* column-gap: 50px; */
}

.todo-form {
  width: 400px;
  padding: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #fff;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
}

.submit-button {
  width: 45%;
  margin-right: 20px;
}

.edit-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  /* margin-left: 40px; */
}

.form-container h1 {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
}

@media screen and (max-width: 480px) {
  .todo-form {
    width: 350px;
    
  }
  
  .submit-button {
    margin-top: 10px;
  }
  
  .form-wrapper {
    padding: 15px;
  }
}

@media screen and (max-width: 415px) {
  .todo-form {
    width: 300px;
  }

  .submit-button {
    margin-top: 10px;
  }

}