<app-filter (filteredCategory)="onFilter($event)"></app-filter>

<div class="card-container">
    <div class="card" *ngFor="let todo of todos">
        <div class="card-header">
            To-Do List
        </div>
        <div class="card-body">
            <div class="label">Task Name</div>
            <div class="value">{{todo.todoName}}</div>

            <div class="label">Task Description</div>
            <div class="value">{{todo.todoDescription}}.</div>

            <div class="label">Completion Date</div>
            <div class="value">{{todo.targetDate | date}}</div>

            <div class="label">Task Completed ?</div>
            <div class="value completed" [ngClass]="{'completed': todo.todoCompleted === 'Yes', 'not-completed': todo.todoCompleted === 'No'}">{{todo.todoCompleted}}</div>

            <div class="label">Priority</div>
            <div class="value" [ngClass]="{'priority-high': todo.priority === 'High', 'priority-medium': todo.priority === 'Medium', 'priority-low': todo.priority === 'Low'}">{{todo.priority}}</div>

            <!-- <button mat-stroked-button color="warn" (click)="deleteTodo(todo.todoId)">Delete</button> -->
            <button mat-stroked-button color="warn" (click)="deleteTodoArchive(todo.todoId)" [disabled]="todo.todoCompleted === 'No'">Delete</button>
        </div>
    </div>
</div>