<div class="wrapper">
    <img src="{{imageUrl}}" alt="signup-image" class="signup-image">
    <div class="container">
        <div class="card">
            <div class="card_title">
                <h1>Create Account</h1>
                <span>Already have an account? <button mat-button color="primary">Sign In</button></span>
            </div>
            <div class="form">
                <form (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput required [(ngModel)]="register.userName" name="userName">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput required [(ngModel)]="register.emailId" name="emailId">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput required type="password" [(ngModel)]="register.password" name="password">
                        <!-- <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button> -->
                    </mat-form-field>
                    <div class="btn-container">
                        <button mat-raised-button color="primary" type="submit">Sign Up</button>
                        <button mat-raised-button color="warn" type="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>