<mat-toolbar color="primary" id="header">
    <span><a routerLink="/home" class="logo">Todo Tracker</a></span>
    <button mat-stroked-button color="accent" *ngIf="this.loginService.isLoggedIn()" routerLink="/dashboard">Dashboard</button>
    <span class="example-spacer"></span>
    <div class="button-accent">
        <button mat-raised-button color="accent" routerLink="/sign-up"
            *ngIf="!this.loginService.isLoggedIn()">SignUp</button>

        <button mat-raised-button color="accent" routerLink="/login"
            *ngIf="!this.loginService.isLoggedIn()">Login
        </button>

        <mat-icon *ngIf="this.loginService.isLoggedIn()" matTooltip="Archived Todos" routerLink="/archive" class="archive">archive</mat-icon>

        <button mat-button *ngIf="this.loginService.isLoggedIn()">Hi, {{userName}}</button>
        
        <button mat-raised-button color="accent" *ngIf="this.loginService.isLoggedIn()" (click)="logoutUser()">Logout</button>
    </div>
</mat-toolbar>