.example-spacer {
  flex: 1 1 auto;
}

.button-accent {
    display: flex;
    column-gap: 20px;
}

.logo {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}