<!-- <h1>home works!</h1> -->

<div class="wrapper">
    <img src="{{imageUrl}}" alt="home-image" class="home-img">

    <div class="right-text">
        <h1>Welcome to Your Ultimate Todo Tracker!</h1>

        <p>
            Stay organized and boost your productivity with our powerful todo tracker. Manage your personal todos and work tasks with us. Here's why our Todo Tracker is the perfect choice for you:
            <!-- work tasks with us. Here's why our Todo Tracker is the perfect choice for you: -->
            <br><br>
            ✅ Effortless Task Management: Easily add, edit, and organize your tasks in one central hub. 
            <!-- Say goodbye to scattered to-do lists! -->
            <br><br>
            🚀 Boost Productivity: Prioritize tasks, set due dates. Stay focused and accomplish more every day.
            <!-- <br><br>
            📅 Flexible Scheduling: Plan your day, week, or month with our intuitive calendar view. Never miss a
            deadline again! -->
            <br><br>
            🔒 Secure and Private: Your tasks are personal, and so is our commitment to your privacy. Rest easy knowing
            your data is safe with us.
            <br><br>
            <!-- 🌐 Sync Across Devices: Access your tasks anytime, anywhere. Our app seamlessly syncs across all your
            devices for a seamless experience. -->
            Ready to take control of your tasks? Sign up now and experience the difference with our Todo Tracker.
        </p><br>
        <button mat-raised-button color="accent" routerLink="/sign-up">SignUp Now</button>
    </div>
</div>