<div style="margin-left: 20px;">
    <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <input type="text" matInput required [(ngModel)]="todo.todoName" placeholder="Todo Name" name="todoName">
        </mat-form-field><br>
    
        <mat-form-field appearance="fill">
            <input type="text" matInput required [(ngModel)]="todo.todoDescription" placeholder="Todo Description" name="todoDescription">
        </mat-form-field><br>
    
        <mat-form-field appearance="fill">
            <input type="text" matInput required [(ngModel)]="todo.todoCompleted" placeholder="todoCompleted" name="todoCompleted">
        </mat-form-field><br>
    
        <mat-form-field appearance="outline">
            <mat-label>Reminder date</mat-label>
            <input matInput [matDatepicker]="picker" required [(ngModel)]="todo.targetDate" [min]="minDate" name="targetDate" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br>
        <button type="submit" mat-raised-button color="primary">Save</button>
    </form>
</div>