<div class="form-wrapper">
    <img src="../../assets/images/add-todo.svg" alt="add-todo" class="add-image">
    <div class="form-container">
        <h1>Add Todo</h1>
        <form (ngSubmit)="onSubmit()" class="todo-form">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Todo Name</mat-label>
                <input type="text" matInput required [(ngModel)]="todo.todoName" name="todoName">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Todo Description</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="4" required [(ngModel)]="todo.todoDescription" name="todoDescription"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Todo Completed ?</mat-label>
                <mat-select [(ngModel)]="todo.todoCompleted" name="todoCompleted" required>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Priority</mat-label>
                <mat-select [(ngModel)]="todo.priority" name="priority" required>
                    <mat-option value="Low">Low</mat-option>
                    <mat-option value="Medium">Medium</mat-option>
                    <mat-option value="High">High</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Reminder date</mat-label>
                <input matInput [matDatepicker]="picker" required [(ngModel)]="todo.targetDate" [min]="minDate"
                    name="targetDate" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" class="submit-button">Save</button>
            <button type="button" routerLink="/dashboard" mat-raised-button color="warn"
                class="submit-button">Cancel</button>
        </form>
    </div>
</div>